.image-container {
    position: relative; /* Контейнер для позиционирования */
    width: 4000px; /* Ширина контейнера */
    height: auto; /* Высота подстраивается под изображение */
  }
  
  img {
    width: 4000px; /* Ширина изображения */
    height: auto; /* Высота подстраивается */
  }
  
  .text-overlay {
    position: absolute; /* Абсолютное позиционирование */
    top: 350px; /* Отступ от нижнего края */
    left: 500px; /* Отступ от правого края */
    color: white; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    font-size: 70px; /* Размер текста */
  
a {color: transparent;
}
  }