div {
    text-align: center;
    font-size: 40px;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
}
.button {
    display: block;
    margin: 0 auto;
    background-color: green; /* Синий фон */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 10px; /* Скруглённые углы */
    font-size: 26px; /* Размер текста */
    margin-top: 40px;
a {
    all: unset;
}

  }
    

