video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Чтобы видео было на заднем плане */
    object-fit: cover; /* Чтобы видео заполнило весь экран без искажений */
  }